@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

body{
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}
button:active{
    box-shadow: 0px 4px 15px hsl(217deg 16% 45%);
}

.game-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
}

.score-container{
    border: 2px hsl(217, 16%, 45%) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-width: 240px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}

.game-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    line-height: 0.8em;
    display: inline-block;
    text-align: left;
    padding-left: 5px;
}

.score{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    width: 27%;
    min-width: 80px;
    height: 98px;
}
.score .score-heading{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: hsl(229, 64%, 46%);
}
.score #score-value{
    font-size: 40px;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}


.step-1{
    width: 300px;
    display: flex;
    flex-direction: column;
    background-image: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    justify-items: center;
    height: 295px;
    background-size: contain;
    gap: 80px;
    padding-top: 15px;
    background-position-y: 55px;
}
.top-icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.bottom-icon{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.game-container #paper,
#rock,
#scissors{
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    box-shadow: inset 0px 4px 15px hsl(217deg 16% 45%);
    background-repeat: no-repeat;
    justify-items: center;
    background-position: center;
    position: absolute;
    box-shadow: inset 0em 0.3em rgba(0, 0, 0, 0.5);

}
.game-container .rock-container,
.paper-container,
.scissors-container{
    border-radius: 50%;
    padding: 10px;
    width: 90px;
    height: 90px;
    box-shadow: inset 0 -6px rgba(0, 0, 0, 0.5);

}

.game-container .rock-container:hover,.paper-container:hover,
.scissors-container:hover{
    cursor: pointer;
    box-shadow: 0px 4px 15px hsl(217deg 16% 45%);
}
.scissors-container:active,
.rock-container:active,
.paper-container:active,
#paper:active,
#rock:active,
#scissors:active{
    width: 95px;
    height: 95px;
}

.game-container #rock{
    background-image: url(./images/icon-rock.svg);
}
.game-container .rock-container{
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));

}
.game-container #paper{
    background-image: url(./images/icon-paper.svg); 
}

.game-container .paper-container{
    background: linear-gradient( hsl(230, 89%, 62%),hsl(230, 89%, 65%));
}


.game-container #scissors{
    background-image: url(./images/icon-scissors.svg);
}

.game-container .scissors-container{
    background: linear-gradient( hsl(39, 89%, 49%),hsl(40, 84%, 53%));
}


.step-2{
    display: none;
    width: 100%;
    color: white;
    font-size: 25px;
}

.step-2 .you-picked-container, 
.the-house-picked-container,
.who-won-container{
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    align-items: center;
}
.who-won-container{
    width: 120px;
}

.the-house-picked-container #wait-for-house-picked{
    background-color: hsl(214, 47%, 23%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#who-won{
    color: white;
    font-weight: 700;
    font-size: 25px;
}
.step-4 #play-again{
    display: none;
    background-color: white;
    color: hsl(214, 47%, 23%);
    letter-spacing: 0.1em;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: 35px;
    width: 120px;
}
#play-again:hover{
    color: red;
}

#step-four-mobile{
    display: none;
}

.rules-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    bottom: 25px;
}

#rules-button{
    padding: 5px;
    text-align: center;
    height: 35px;
    width: 80px;
    border: 2px hsl(217, 16%, 45%) solid;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    letter-spacing: 0.1em;
    margin: 5px;

}

.modal {
    display: none; 
    position: fixed; 
    z-index: 2;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
  }
.modal-heading{
    text-align: center;
    color: hsl(214, 47%, 23%);
}
  .modal-content img {
    width: 100%;
    height: 100%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


@media only screen and (max-width: 570px){
    body{
        overflow-x: hidden;
        box-sizing: border-box;
        padding-left: 5px;
        height: 100vh;
    }
    .game-container{
        width: 100%;
        align-content:center;
    }
    .rules-container{
        justify-content: center;
    }
    #step-four-desktop{
        display: none;
    }
    #step-four-mobile{
        display: flex;
    }
    .step-2{
        justify-content: center;
    }
    .step-2 .you-picked-container, 
    .the-house-picked-container{
    padding: 0;
    width: 145px;
    }
    .who-won-container{
        position: absolute;
        top: 65%;
        width: 100%;
        right: 0;
        align-items: center;
    }
    .you-picked-heading,
    .the-house-picked-heading{
        font-size: 18px;
    }   
}
